<table id="slideshow_list" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Image Preview</th>
      <th>Active</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @ssimages.order(:id).each do |ssimage| %>
      <tr>
        <td id="ssimage_id"><%= ssimage.id %></td>
        <td><%= ssimage.title %></td>
        <td><%= ssimage.description %></td>
        <td align="center"><%= image_tag ssimage.pic_slideshow.url(:thumb) %></td>
        <% if ssimage.active %>
          <td><span class="badge badge-success">Active</span></td>
        <% else %>
          <td><span class="badge badge-warning">Inactive</span></td>
        <% end %>
        <td><a id="<%= ssimage.id %>" class="fa fa-edit" onClick="fillEdit(this);"></a> || <%= link_to '', admin_slide_show_image_index_path(ssimage.id), class: "fa fa-trash", method: :delete, data:{confirm: "Are You Sure? "} %></td>
      </tr>
    <% end %>
  </tbody>
</table>