<div class="header">
    <div class="header-info">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <%= link_to("", class: "facebook") do %>
                       <i class="fa fa-facebook" alt="Facebook" title="Facebook"></i> 
                    <% end %>
                    <%= link_to("", class: "instagram") do %>
                       <i class="fa fa-instagram" alt="Instagram" title="Instagram"></i> 
                    <% end %>
                    <%= link_to("", class: "twitter") do %>
                       <i class="fa fa-twitter" alt="Twitter" title="Twitter"></i> 
                    <% end %>
                    <%= link_to("", class: "pinterest") do %>
                       <i class="fa fa-pinterest" alt="Pinterest" title="Pinterest"></i> 
                    <% end %>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="search">
                    <!-- Harusnya ada form, untuk search apa tapi ? -->
                        <div class="input-group">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-navigation">
        <div class="container">
            <div class="logo">
                <h1> <%= link_to "Redd One Digital", root_path %> </h1>
            </div>
        </div>
    </div>
</div>