<div class="wrapper white">
  <div class="header">
    <div class="header-info">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
              <%= link_to("", class: "facebook") do %>
                 <i class="fa fa-facebook" alt="Facebook" title="Facebook"></i> 
              <% end %>
              <%= link_to("", class: "instagram") do %>
                 <i class="fa fa-instagram" alt="Instagram" title="Instagram"></i> 
              <% end %>
              <%= link_to("", class: "twitter") do %>
                 <i class="fa fa-twitter" alt="Twitter" title="Twitter"></i> 
              <% end %>
              <%= link_to("", class: "pinterest") do %>
                 <i class="fa fa-pinterest" alt="Pinterest" title="Pinterest"></i> 
              <% end %>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="search">
            <!-- Harusnya ada form, untuk search apa tapi ? -->
                <div class="input-group">
                </div>
            <div class="social">
              <%= link_to("", class: "facebook") do %>
                <i class="fa fa-facebook" alt="Facebook" title="Facebook"></i> 
              <% end %>
              <%= link_to("", class: "instagram") do %>
                <i class="fa fa-instagram" alt="Instagram" title="Instagram"></i> 
              <% end %>
              <%= link_to("", class: "twitter") do %>
                <i class="fa fa-twitter" alt="Twitter" title="Twitter"></i> 
              <% end %>
              <%= link_to("", class: "pinterest") do %>
                <i class="fa fa-pinterest" alt="Pinterest" title="Pinterest"></i> 
              <% end %>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="search pull-right">
              <form>
                <!-- Harusnya ada form, untuk search apa tapi ? -->
                <div class="input-group">
                  <%= text_field :search, :global, class: "form-control", placeholder: "Search this website" %>
                  <span class="input-group-btn">
                    <%= button_tag("search", class: "btn") do %>
                      <i class="fa fa-search"></i>   
                    <% end %>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
              <div class="logo">
                  <h1> 
                    <%= link_to("#", class: "test") do %> 
                      <i class="fa fa-eye-slash br-red"></i>
                      Reddone Digital
                    <% end %>
                  </h1>
              </div>
          </div>
          <div class="col-md-7">
              <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle br-orange" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                      <li>
                        <%= link_to("", class: "br-orange") do %>
                            <i class="fa fa-home link-icon"></i>
                            <span class="link-title">Home</span>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to("", class: "br-purple") do %>
                            <i class="fa fa-user link-icon"></i>
                            <span class="link-title">About Us</span>
                        <% end %>
                      </li>
                      <li class="dropdown">
                        <%= link_to("#", class: "dropdown-toggle br-pink", data: {toggle: "dropdown", "aria-expanded" => true}) do %>
                            <i class="fa fa-calendar link-icon"></i>
                            <span class="link-title">Event <b class=" fa fa-angle-down"></b></span>
                        <% end %>
                      	<ul class="dropdown-menu dropdown-xs">
													<li>
														<div class="row">
															<div class="col-md-12">
																<div class="col-inner">
																	<ul class="list-unstyled">
																		<li>
                                      <%= link_to("", class: "dd-menu") do %>
                                        <i class="fa fa-arrow-right dd-link-icon"></i> Wedding
                                      <% end %>
                                    </li>
																		<li>
                                      <%= link_to("", class: "dd-menu") do %>
                                        <i class="fa fa-arrow-right dd-link-icon"></i> Reunion
                                      <% end %>
                                    </li>
																		<li>
                                      <%= link_to("", class: "dd-menu") do %>
                                        <i class="fa fa-arrow-right dd-link-icon"></i> Seminar
                                      <% end %>
                                    </li>
																		<li>
                                      <%= link_to("", class: "dd-menu") do %>
                                        <i class="fa fa-arrow-right dd-link-icon"></i> Gathering
                                      <% end %>
                                    </li>
																		<li>
                                      <%= link_to("", class: "dd-menu") do %>
                                        <i class="fa fa-arrow-right dd-link-icon"></i> Music
                                      <% end %>
                                    </li>
																		<li>
                                      <%= link_to("", class: "dd-menu") do %>
                                        <i class="fa fa-arrow-right dd-link-icon"></i> Exhibition
                                      <% end %>
                                    </li>
																		<li>
                                      <%= link_to("", class: "dd-menu") do %>
                                        <i class="fa fa-arrow-right dd-link-icon"></i> Life Style
                                      <% end %>
                                    </li>
																	</ul>
																</div>
															</div>
														</div>
													</li>
												</ul> 
                      </li>
                      <li>
                          <%= link_to("", class: "br-green") do %>
                              <i class="fa fa-image link-icon"></i>
                              <span class="link-title">Gallery</span>
                          <% end %>
                      </li>
                      <li>
                          <%= link_to("", class: "br-yellow") do %>
                              <i class="fa fa-mobile link-icon"></i>
                              <span class="link-title">Contact Us</span>
                          <% end %>
                      </li>
                    </ul>
                </div>
              </nav>
          </div>
        </div>
      </div>
    </div>
  </div>